@import '../../misc/globalStyles.scss';

.schedule {
	display: flex;
	width: 100%;
	flex-direction: column;
	&__calendar-container {
		width: 70%;
		height: 70%;
	}
	&__add-event-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 300px;
		padding: 40px;
	}
	&__calendar-event-title {
		margin: 0;
		margin-top: 5px;
		display: flex;
		justify-content: center;
	}
	&__description-modal-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 25px;
		display: 1;
	}
	&__close-button {
		position: absolute;
		top: -22px;
		right: 5px;
		&:hover {
			color: red;
			cursor: pointer;
		}
	}
}
.rbc-event-cancelled {
	background-color: green;
}
