@import '../../misc/globalStyles.scss';

.about {
	display: flex;
	transition: all 1s;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 80px;
	position: relative;
	// border-radius: 5px;
	z-index: 5;
	background-color: white;
	&__gradient {
		position: relative;
		height: 300px;
		@include scrimGradient();
		opacity: 1;
	}
	&__gradient-bottom {
		position: relative;
		height: 200px;
		@include scrimGradient();
		transform: rotate(180deg);
		opacity: 0.99;
		// margin-bottom: 100px;
	}
	&__header {
		color: $main-blue;
		font-size: 3.5em;
		margin-top: 80px;
		margin-bottom: 30px;
		position: relative;
	}
	&__description {
		font-size: 1.3em;
		width: 57%;
		text-align: center;
		line-height: 1.7;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 60%;
			height: 2px;
			bottom: -50px;
			right: 20%;
			border-radius: 5px;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.5) 0%,
				rgba(89, 127, 165, 1) 15%,
				rgba(89, 127, 165, 1) 85%,
				rgba(255, 255, 255, 0.5) 100%
			);
			opacity: 0.7;
			transition: all 0.7s ease-in-out 0s;
		}
	}
}
