@import '../../misc/globalStyles.scss';

.about {
	display: flex;
	transition: all 1s;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 80px;
	position: relative;
	// border-radius: 5px;
	z-index: 5;
	background-color: white;
	&__gradient {
		position: relative;
		height: 40px;
		@include scrimGradient();
		opacity: 1;
	}
	&__gradient-bottom {
		position: relative;
		height: 100px;
		@include scrimGradient();
		transform: rotate(180deg);
		opacity: 0.99;
		// margin-bottom: 100px;
	}
	&__headshot {
		width: 30%;
		// height: auto;
		height: 10%;
		border-radius: 4px;
		margin-top: 60px;
	}
	&__headshot-header-description-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	&__header-description-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 50%;
	}
	&__header {
		color: $main-blue;
		font-size: 3.5em;
		// margin-top: 80px;
		margin-bottom: 30px;
		position: relative;
	}
	&__description {
		font-size: 1.3em;
		width: 90%;
		margin: 0;
		text-align: right;
		line-height: 1.7;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 120%;
			height: 2px;
			bottom: -70px;
			right: 0%;
			border-radius: 5px;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.5) 0%,
				rgba(89, 127, 165, 1) 15%,
				rgba(89, 127, 165, 1) 85%,
				rgba(255, 255, 255, 0.5) 100%
			);
			opacity: 0.7;
			transition: all 0.7s ease-in-out 0s;
		}
	}
	&__thank-you {
		font-size: 1.3em;
	}
	@include mobile-small-only() {
		align-items: center;

		&__gradient {
			height: 120px;
		}
		&__header {
			font-size: 3em;
		}
		&__description {
			width: 80%;
		}
	}
}
