@import '../../misc/globalStyles.scss';

.home {
	height: 100vh;
	font-family: 'Manrope', sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;

	&__hero-container {
		height: 100vh;
		margin: 0;
		top: 0vh;
		right: 0;
		left: 0;
		display: flex;
		position: absolute;
		justify-content: center;
		padding: 0;
	}
	&__hero-overlay-container {
		position: fixed;
		height: 100%;
	}
	&__hero-overlay {
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0;
		right: 0;
		bottom: 0%;
		margin: 0;
		padding: 0;
		opacity: 0.3;
		background-color: black;
	}
	&__hero-overlay-2 {
		position: absolute;
		z-index: 5;
		width: 80vw;
		height: 100%;
		top: 0%;
		bottom: 0%;
		opacity: 0.01;
		background-image: linear-gradient(
			hsl(0, 0%, 0%) 0%,
			hsla(0, 0%, 0%, 0.738) 19%,
			hsla(0, 0%, 0%, 0.541) 34%,
			hsla(0, 0%, 0%, 0.382) 47%,
			hsla(0, 0%, 20%, 0.278) 56.5%,
			hsla(0, 0%, 0%, 0.194) 65%,
			hsla(0, 0%, 0%, 0.126) 73%,
			hsla(0, 0%, 0%, 0.075) 80.2%,
			hsla(0, 0%, 0%, 0.042) 86.1%,
			hsla(0, 0%, 0%, 0.021) 91%,
			hsla(0, 0%, 0%, 0.008) 95.2%,
			hsla(0, 0%, 0%, 0.5) 98.2%,
			hsla(0, 0%, 0%, 1) 100%
		);
	}
	&__hero-img {
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100vw;
	}
	&__hero-text-container {
		z-index: 4;
		position: absolute;
		top: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 1;
		transition: all 100ms;
		scroll-padding: 100px 0px 0px 100px;
	}
	&__hero-title {
		font-size: 4.7em;
		color: white;
		font-family: 'Rock Salt', cursive;
		margin: 0;
	}
	&__hero-subtitle {
		color: white;
		font-size: 1.9em;
		opacity: 0.9;
		font-weight: 300;
	}
	&__book-now {
		@include book-now-button();
		width: 35%;
	}
	&__down-arrow {
		color: rgb(63, 88, 117);
		position: absolute;
		bottom: -50px;
		z-index: 25;
		font-size: 3.5em;
		opacity: 0.5;
		transform: rotate(90deg);
		font-weight: 300;
		font-family: 'Manrope', sans-serif;
	}
	@include mobile-small-only() {
		justify-content: flex-start;

		&__hero-text-container {
			top: -100px;
			position: absolute;
		}
		&__hero-container {
			height: 100vh;
			margin: 0;
			top: 0vh;
			right: 0;
			left: 0;
			display: flex;
			position: absolute;
			align-items: flex-start;
			padding: 0;
		}
		&__hero-title {
			font-size: 2.7em;
			color: white;
			font-family: 'Rock Salt', cursive;
			margin: 0;
		}
		&__hero-subtitle {
			color: white;
			font-size: 1.4em;
			opacity: 0.9;
			font-weight: 300;
		}
	}
}
