@import '../../misc/globalStyles.scss';

.nav {
	display: flex;
	justify-content: space-between;
	border: 2px solid whitesmoke;
	text-decoration: none;
	font-family: 'Manrope', sans-serif;
	padding: 10px 0;
	position: relative;
	z-index: 4;
	background-color: white;

	&__container {
		display: flex;
		align-items: center;
		margin: 0;
		width: 30%;
	}
	&__book-container {
		justify-content: flex-end;
	}
	&__link {
		position: relative;
		text-decoration: none;
		color: rgb(112, 128, 144);
		font-size: 1.3em;
		margin: 0 2%;
		width: 70%;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -2px;
			//this determines where the animation starts??
			left: -50%;
			background-color: rgba(70, 130, 180, 0.3);
			opacity: 0;
			//scale X this notation determines 0 to be 0% and 1 to be 100%
			transform: scaleX(0);
			//ease-in-out means its slow at beginning and end
			//the last art is a delay
			transition: all 0.5s ease-in-out 0s;
		}
		&:hover:before {
			opacity: 1;
			left: 0;
			transform: scaleX(1);
		}
	}
	&__title {
		font-size: 2.1em;
		font-weight: 500;
		color: navy;
		margin: 0 2vw;
		text-decoration: none;
	}
	&__book-now {
		@include book-now-button();
	}
}
.active {
	color: rgb(122, 148, 164);
}
