@import './globalStyles.scss';
.view {
	width: 100vw;
	margin: 0;
	padding: 0;
}
.default-page {
	display: flex;
	align-items: flex-start;
	padding-bottom: 0px;
	padding-left: 10vw;
	margin: 0;
	position: relative;
	border-radius: 3px;
	z-index: 5;
	background-color: white;
	font-family: 'Manrope', sans-serif;

	&__header {
		position: relative;
		color: $main-blue;
		font-weight: 400;
		font-size: 2.7rem;
		margin-top: 80px;
		@include underline-gradient-blue-1();
	}
	&__sub-header {
		position: relative;
		color: $main-blue;
		font-weight: 400;
		font-size: 2.1rem;
		@include underline-gradient-blue-1();
	}
	&__left-container {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__left-sub-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 10%;
	}
	&__right-container {
		width: 40%;
		// padding-right: 20%;
	}
	&__right-sub-container {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: flex-end;
		right: 10%;
		width: 100%;
	}
	&__img {
		width: 80%;
		border-radius: 3px;
		margin-top: 150px;
		// @include box-shadow-1();
	}
	&__description {
		text-align: left;
		padding-right: 13%;
		padding-left: 30px;
		line-height: 1.7em;
		font-size: 1.2em;
	}
	&__sub-description {
		text-align: right;
		line-height: 1.7em;
		font-size: 0.9em;
		margin: 0;
	}
	&__overlay {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		top: 0%;
		bottom: 0%;
		opacity: 0.9;
		background: #00d2ff; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#3a7bd5,
			#00d2ff
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		transform: rotate(90deg);
	}
	&__price {
		margin: 5px 5px;
		font-weight: 600;
		font-size: 1.2em;
	}
	&__time {
		font-weight: 400;
	}
	&__bottom-pseudo-chunk {
		position: relative;
		border-width: 50%;
		height: 20px;
		width: 100%;
		background-color: white;
		// border: 1px solid black;
		&:after {
			content: '';
			position: absolute;
			z-index: 6;
			width: 40%;
			height: 2px;
			bottom: -25px;
			right: 30%;
			border-radius: 5px;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.5) 0%,
				rgba(89, 127, 165, 1) 15%,
				rgba(89, 127, 165, 1) 85%,
				rgba(255, 255, 255, 0.5) 100%
			);
			opacity: 0.5;
			transition: all 0.7s ease-in-out 0s;
		}
	}
	@include mobile-small-only() {
		display: flex;
		align-items: flex-start;
		padding-bottom: 0px;
		padding-left: 10vw;
		flex-direction: column;
		&__header {
			text-align: left;
			width: 50%;
			margin-top: 14px;
		}
		&__description {
			width: 85%;
			padding-left: 0px;
			font-size: 1.2em;
			line-height: 1.7em;
			padding-right: 0;
		}
		&__right-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
		&__left-container {
			width: 100%;
		}
		&__right-sub-container {
			display: flex;
			flex-direction: column;
			position: relative;
			align-items: flex-start;
			left: 0%;
			width: 100%;
		}
		&__sub-description {
			text-align: left;
		}
		&__sub-description-paragraph-1 {
			margin-top: 10px;
		}
		&__img {
			margin-top: 10px;
		}
		&__bottom-pseudo-chunk {
			display: none;
		}
	}
}
