$main-blue: rgb(63, 123, 194);
$black-text-color: #323232;
$white-text-color: #ffffff;
$divider-color: #e1e1e1;
$top-margin: 1%;
$top-margin-not-main: 4.5%;
$header-text-size: 2.5rem;
$not-main-margin-left: 16%;
$mobile-small-max: 425px;
$mobile-min: 426px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 992px;
$laptop-small-min: 993px;
$laptop-small-max: 1199px;
$laptop-large-min: 1200px;
$mobile-small-only: 'screen and (max-width:#{$mobile-max})';
$mobile-only: 'screen and (min-width:#{$mobile-small-max}) and (max-width: #{$mobile-max})';
$tablet-only: 'screen and (min-width:#{$tablet-min}) and (max-width: #{$tablet-max})';
$laptop-small: 'screen and (min-width:#{$laptop-small-min}) and (max-width: #{$laptop-small-max})';
$laptop-large: 'screen and (min-width: #{$laptop-large-min})';
//Media Queries

//0px to 76px
@mixin mobile-small-only() {
	@media #{$mobile-small-only} {
		@content;
	}
}
//426px to 767px

@mixin mobile-only() {
	@media #{$mobile-only} {
		@content;
	}
}
@mixin tablet-only() {
	@media #{$tablet-only} {
		@content;
	}
}
//Laptop Small is 993 - 1199
@mixin laptop-small() {
	@media #{$laptop-small} {
		@content;
	}
}
@mixin laptop-large() {
	@media #{$laptop-large} {
		@content;
	}
}
@mixin book-now-button() {
	text-decoration: none;
	border: 1px solid rgb(89, 127, 165);
	color: rgba(245, 245, 245, 0.9);
	font-size: 1.3rem;
	padding: 1% 2.5vw;
	display: flex;
	justify-content: center;
	margin-right: 6%;
	border-radius: 4px;
	background-color: rgb(49, 110, 185);
	transition: all 400ms;
	opacity: 0.9;

	&:hover {
		transition: all 400ms;
		color: white;
		text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
		border-radius: 5px;
		@include box-shadow-1();
		opacity: 1;
		cursor: pointer;
	}
}
@mixin underline-gradient-blue-1() {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 120%;
		height: 2px;
		bottom: -6px;
		left: -0%;
		background: linear-gradient(
			90deg,
			rgba(244, 246, 255, 0.6993172268907564) 0%,
			rgba(236, 245, 250, 1) 7%,
			rgba(159, 186, 244, 0.8) 80%,
			rgba(252, 252, 252, 1) 100%
		);
		opacity: 1;
		transition: all 0.7s ease-in-out 0s;
	}
}

@mixin text-shadow-1() {
	text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
@mixin box-shadow-1() {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 6.5px 10px rgba(0, 0, 0, 0.06),
		0 14.3px 17.9px rgba(0, 0, 0, 0.072);
}

@mixin white-gradient-both() {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(188, 240, 253, 0.011) 2.5%,
		rgba(208, 227, 245, 0.2) 5%,
		rgba(208, 227, 245, 0.4) 7.5%,
		rgba(255, 255, 255, 1) 15%,
		rgba(255, 255, 255, 0.9) 85%,
		rgba(208, 227, 245, 0.4) 92.5%,
		rgba(208, 227, 245, 0.2) 95%,
		rgba(188, 240, 253, 0.011) 97.5%,
		rgba(255, 255, 255, 0) 100%
	);
}
@mixin white-gradient-top() {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(188, 240, 253, 0.011) 2.5%,
		rgba(208, 227, 245, 0.2) 5%,
		rgba(208, 227, 245, 0.4) 7.5%,
		rgba(255, 255, 255, 1) 15%,
		rgba(255, 255, 255, 0.9) 85%,
		rgba(208, 227, 245, 0.4) 92.5%,
		rgba(208, 227, 245, 0.2) 95%,
		rgba(188, 240, 253, 0.011) 97.5%,
		rgba(255, 255, 255, 0) 100%
	);
}
@mixin scrimGradient($startColor: white, $direction: 'to top') {
	$scrimCoordinates: (
		0: 1,
		19: 0.738,
		34: 0.541,
		47: 0.382,
		56.5: 0.278,
		65: 0.194,
		73: 0.126,
		80.2: 0.075,
		86.1: 0.042,
		91: 0.021,
		95.2: 0.008,
		98.2: 0.002,
		100: 0
	);

	$hue: hue($startColor);
	$saturation: saturation($startColor);
	$lightness: lightness($startColor);
	$stops: ();

	@each $colorStop, $alphaValue in $scrimCoordinates {
		$stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
		$stops: append($stops, $stop, comma);
	}

	background: linear-gradient(unquote($direction), $stops);
}

@mixin scrim-gradient-black-to-bottom($startColor: black, $direction: 'to bottom') {
	$scrimCoordinates: (
		0: 1,
		19: 0.738,
		34: 0.541,
		47: 0.382,
		56.5: 0.278,
		65: 0.194,
		73: 0.126,
		80.2: 0.075,
		86.1: 0.042,
		91: 0.021,
		95.2: 0.008,
		98.2: 0.002,
		100: 0
	);

	$hue: hue($startColor);
	$saturation: saturation($startColor);
	$lightness: lightness($startColor);
	$stops: ();

	@each $colorStop, $alphaValue in $scrimCoordinates {
		$stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
		$stops: append($stops, $stop, comma);
	}

	background: linear-gradient(unquote($direction), $stops);
}
@mixin scrim-gradient-black-to-bottom-2($startColor: black, $direction: 'to bottom') {
	$scrimCoordinates: (
		0: 1,
		47: 0.741,
		73: 0.526,
		80.2: 0.075,
		86.1: 0.042,
		91: 0.021,
		95.2: 0.008,
		98.2: 0.002,
		100: 0
	);

	$hue: hue($startColor);
	$saturation: saturation($startColor);
	$lightness: lightness($startColor);
	$stops: ();

	@each $colorStop, $alphaValue in $scrimCoordinates {
		$stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
		$stops: append($stops, $stop, comma);
	}

	background: linear-gradient(unquote($direction), $stops);
}
.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	overflow: hidden;
	transition: all 500ms;
	animation: dnonefadeout 1s 1;
	@keyframes dnonefadeout {
		0% {
			display: flex;
			opacity: 1;
		}

		99% {
			opacity: 0;
			display: flex;
		}

		100% {
			opacity: 0;
		}
	}
}
.visible {
	transition: all 500ms;
	display: flex;
	z-index: 10;
	animation: dnonefadein 1s 1;
	@keyframes dnonefadein {
		0% {
			display: none;
			opacity: 0;
		}

		1% {
			display: flex;
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
	opacity: 1;
}
