@import '../../misc/globalStyles.scss';

.massage {
	padding-bottom: 50px;
	&__hands-img {
		width: 45%;
		border-radius: 5px;
		margin-top: 50px;
	}
	@include mobile-small-only() {
		&__left-img {
			display: none;
		}
	}
}
